<div ng-if="session.isLogin=='1'"> 
<!-- Main Header -->
      <header class="main-header" page="timer">

        <!-- Logo -->
         

        <!-- Header Navbar -->
        <nav  class="col-xs-12 navbar navbar-static-top nopadding" role="navigation">
					<span class="col-xs-3 col-md-2 nav-menu-box-left ">
         <!-- Sidebar toggle button-->
          <a id="side-nav-menu-selecter" class="sidebar-toggle " data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
					</span>
					<div class="col-xs-6 col-md-8 nopadding parent">
						<img src="logo.png" class="child door-bell-menu-logo">
					</div>
          <!-- Navbar Right Menu -->
          <div class="col-xs-3 col-md-2  navbar-custom-menu nav-menu-box-right">
            <ul class="nav navbar-nav">
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                  
                </a>
                
              </li>
              
            </ul>
          </div>
        </nav>
      </header>


	<aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <!-- Optionally, you can add icons to the links -->
            <li class="parent-menu "><a class="toggle"  href="#/"><i class="text-aqua fa fa-home"></i> <span>Home</span></a></li>
            <li class="parent-menu"><a class="toggle"  href="#/account"><i class="text-aqua fa fa-user"></i> <span>Account</span></a></li>
						<li class="parent-menu "><a class="toggle"  href="#/settings"><i class="text-aqua fa fa-wrench"></i> <span>Settings</span></a></li>
						<li class="parent-menu active"><a class="toggle"  href="#/timer"><i class="text-aqua fa fa-clock-o"></i> <span>Timer</span></a></li>
						<li class="parent-menu "><a class="toggle"  href="#/deviceinfo"><i class="text-aqua fa fa-bluetooth"></i> <span>Device Info</span></a></li>
						 <li class="parent-menu "><a class="toggle"  href="#/devicelogs"><i class="text-aqua fa fa-file-text"></i> <span>Logs</span></a></li>
            <li ><a ng-click="logout()"  ><i class="text-red fa fa-power-off"></i> <span>Logout</span></a></li>
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>


<div id="deviceready"  class="content-wrapper col-xs-12">
   <section class="content">
      
		<div class="col-xs-12 nopadding">
			<div class="col-xs-12  loading-container to-center">
				<div class="col-xs-3 nopadding">&nbsp;
				</div>
			 	<div class="col-xs-6 nopadding align-child-to-center margin-left-less-25px">
					<div class="loading-text align-center"></div>
					<img class="loading-img" src="img/loading.gif">
				</div>
				<div class="col-xs-3 nopadding">&nbsp;
				</div>
			</div>
			<div class="col-xs-12 nopadding timer-container hide-me  donot-display-any-content-if-ble-is-not-connected" ISTIMERDAYSREAD="false">
				<div class="col-xs-12 align-child-to-center">
					<span style="font-size:25px;">Timer Days<br/></span>
					<br/>
				</div>
				<div class="col-xs-12 align-child-to-center  border-bottom-2px day-selector-container">
					<span  style="margin:0 auto;display:block;float:left;min-width:30px;width:14.28%;">
					<input id="monday" type="checkbox"><br/>MON
					</span>
					<span  style="margin:0 auto;display:block;float:left;min-width:30px;width:14.28%;">
					<input id="tuesday"type="checkbox"><br/>TUE
					</span>
					<span  style="margin:0 auto;display:block;float:left;min-width:30px;width:14.28%;">
					<input id="wednesday"type="checkbox"><br/>WED
					</span>
					<span style="margin:0 auto;display:block;float:left;min-width:30px;width:14.28%;">
					<input id="thursday"type="checkbox"><br/>THU
					</span>
					<span style="margin:0 auto;display:block;float:left;min-width:30px;width:14.28%;">
					<input id="friday"type="checkbox"><br/>FRI
					</span>
					<span style="margin:0 auto;display:block;float:left;min-width:30px;width:14.28%;">
					<input id="saturday"type="checkbox"><br/>SAT
					</span>
					<span style="margin:0 auto;display:block;float:left;min-width:30px;width:14.28%;">
					<input id="sunday" type="checkbox"><br/>SUN
					</span>
					<div class="col-xs-12">
						<br/>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 align-child-to-center  ">
					<span style="font-size:23px;">From</span>
					<div data-role="fieldcontain" class="demo-cont" id="starttimer_container">
            <input type="text" id="starttimer" class="hide-me"/>  
        	</div>
				</div>
				<div class="col-xs-12 col-sm-6 align-child-to-center  ">
					<span style="font-size:23px;">To</span>
					<div data-role="fieldcontain" class="demo-cont" id="endttimer_container">
            <input type="text" id="endtimer" class="hide-me"/> 
						
        	</div>
				</div>
			</div>	
		</div>
		<div class="col-xs-12 vacant-space">
		</div>
    </section><!-- /.content -->
				
				 <div ng-switch on="data.platform">
					<div  ng-switch-when='android'>
						<script type="text/javascript"  src="js/bootstrap.min.js"></script>
						<script type="text/javascript"  src="js/app.js"></script>
						<script type="text/javascript"  src="js/app.min.js" ></script>	
						<script type="text/javascript"  src="js/main.js"></script>	
						<script type="text/javascript" src="js/BLE.js"></script>
						<script type="text/javascript" src="js/timerinit.js"></script>	
					</div>
					<div  ng-switch-when='ios'>
						<script type="text/javascript-lazy"  src="js/bootstrap.min.js"></script>
						<script type="text/javascript-lazy"  src="js/app.js"></script>
						<script type="text/javascript-lazy"  src="js/app.min.js" ></script>	
						<script type="text/javascript-lazy"  src="js/main.js"></script>	
						<script type="text/javascript-lazy" src="js/timepicker.js"></script>	
						<script type="text/javascript-lazy" src="js/BLE.js"></script>
						<script type="text/javascript-lazy" src="js/timerinit.js"></script>	
					</div>
				</div>
  </div><!-- /.content-wrapper -->
	<footer class="main-footer">
     <div class="col-xs-12 nopadding align-child-to-center overlay-footer-for-timer-page">
			<button disabled="disabled" class="timer-save btn btn-lg btn-doorbell-default">&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;
			<button disabled="disabled" class="timer-cancel btn btn-lg btn-doorbell-default">Cancel</button><br/>
	</div>   
 	</footer>
	
 </div>

